<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>YouCover</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/main.css" type="text/css" />
        <script type="text/javascript" src="{{MEDIA_URL}}js/prototype.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/scriptaculous.js"></script>
        
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
          google.load("swfobject", "2.1");
        </script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/VideoController.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/scripts.js"></script>
    </head>
    <body>
        <div id="header">
            <div class="mainLogoContainer">
                <img src="{{MEDIA_URL}}images/logo_medio.png" class="mainLogo"></img>
            </div>
            <div class="searchFormContainer searchForm">
                {% csrf_token %}
                <form method='POST' >
                    <label for="id_full_text" class="searchFormLabel">{{ form.full_text.label }}</label>
                    {{ form.full_text }}
                    {% if form.full_text.errors %}
                    <span class="inline_warning">{{ form.full_text.errors }}</span>
                    {% endif %}
                    <input type="button" value="Enviar" class="searchFormSubmit" />
                </form>
            </div>
        </div>
        <div id="mainContainer">
            <div id="mainContent">

            </div>
        </div>
    </body>
</html>
