body
{
    margin:0;
}

.mainLogo
{
    background-color: red;
}

.mainLogoContainer
{
    width: 200px;
    float: left;
}

.searchFormContainer
{
    float: left;
    position: relative;
    top: 50px;
    left: 30px;
}

.searchFormLabel
{
    float:left;
    font-weight:bold;
    position:relative;
    top:4px;
}

#header
{
    width: 100%;
    height: 100px;
    margin: 10px 0 0 10px;
}

.searchForm #id_full_text
{
    border:1px solid;
    float:left;
    height:26px;
    margin: 0 0 0 10px;
    padding:0 5px;
    position:relative;
    width:400px;
}

.searchForm .searchFormSubmit
{
    border:1px solid;
    height:28px;
    margin:0 0 0 10px;
    width:90px;
}

.inline_warning
{
    background-color:#FFEDCC;
    border:1px solid #DD5500;
    display:block;
    float:left;
    height:23px;
    margin: 0 0 0 10px;
    padding:3px 5px 0;
    position:relative;
}

#mainContainer
{
    margin:0 auto;
    width:1000px;
    position: relative;
}

#mainContainer .videoHolder
{
    float: left;
    margin:0 15px;
}

#mainContainer .videoHolder .videoTitle
{
    display: block;
    height: 100px;
    width: 240px;
}